@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
@import "./tokens.scss";

body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: $text-default-font-size;
  font-family: $text-default-font-family;
  color: $text-default-color;
}

.main {
  display: flex;
  flex-direction: column;
}

$underline-width: 10em;

.menu {
  display: flex;
  .brand {
    margin-right: auto;
    padding: 0 1em;
    h3 {
      margin: 1ex 0;
    }
  }
}
#hamnav {
  text-align: right;
}
#hamitems {
  display: none;
  background-color: white;
  position: fixed;
  right: 1em;
  padding: 1em 2.5em;
  margin: 1em;
  text-align: center;
}
#hamitems:after {
  position: absolute;
  content: "";
  top: -20px;
  right: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid white;
}
#hamitems a {
  box-sizing: border-box;
  display: block;
  width: 10em;
  color: $color-neutral-gray2;
  padding: 1em;
  text-decoration: none;
  border-radius: 2em;
}
#hamitems a:hover,
#hamitems a:active {
  background-color: $color-primary-yellow;
  color: $color-neutral-dark-blue;
  text-transform: uppercase;
}
#hamnav label {
  display: inline-block;
  color: white;
  font-style: normal;
  font-size: 1.2em;
  padding: 10px;
}
#hamnav input:checked ~ #hamitems {
  display: block;
}
#hamburger {
  display: none;
}

.panel {
  text-align: center;
  position: relative;

  img {
    width: 100%;
  }
  .title {
    margin: 2em 1em 1em 1em;
    font-family: $text-heading-font-family;
    font-size: xx-large;
  }
  &--footer {
    div {
      padding: 1em 1em 4em 1em;
    }    
    .summary {
      color: $color-neutral-gray2;
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: inherit;
      position: relative;
    }
    a::after {
      content: "";
      display: block;
      left: 50%;
      margin-left: calc(#{$underline-width} / -2);
      position: absolute;
      top: 0.9em;
      width: $underline-width;
      z-index: -1;
    }
  }
  &--floating-footer {
    margin-top: auto;
    padding: 2em 1em;
    .summary {
      color: $text-default-color;
    }
  }
}

.creative {
  color: $color-header;
  background-image: url("../images/mobile/image-header.jpg");
  height: 60vh;
  background-position: center bottom;
  background-size: cover;

  .header {
    .title {
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 0.1em;
      font-size: xx-large;
    }
  }
}

.graphic-design {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  height: 75vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.photography {
  background-image: url("../images/mobile/image-photography.jpg");
  height: 75vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.transform a::after {
  border-bottom: 1ex solid $color-primary-yellow;
}
.stand-out a::after {
  border-bottom: 1ex solid $color-primary-magenta;
}

.client-testimonial {
  .title {
    text-transform: uppercase;
    color: $color-neutral-gray2;
    font-size: 20px;
  }
  .review {
    margin-bottom: 4em;
    &--pic {
      border-radius: 50%;
      height: 100px;
      width: 100px;
    }
    &--quote {
      color: $color-neutral-dark-blue;
      padding: 1em;
    }
    &--author {
      color: $color-neutral-dark-blue;
      font-family: $text-heading-font-family;
      font-weight: 900;
      display: block;
      margin-bottom: 1em;
    }
    &--role {
      color: $color-neutral-gray2;
      font-size: 15px;
    }
  }
}

.four-images {
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    width: 100%;
  }
}

.footer {
  background-color: $color-primary-cyan;
  color: $color-primary-dark-cyan;
  padding: 3em 1em;
  text-align: center;
  &--title {
    font-size: xxx-large;
    font-weight: 900;
    margin: 1em;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
  &--nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &--social-network {
    margin: 3em 0;
    a + a {
      display: inline;
      margin-left: 1em;
    }
  }
}

@media screen and (min-width: $md-device) {
  #hamitems {
    display: flex;
    background-color: transparent;
  }
  #hamitems:after {
    border: 0;
  }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover {
    background: white;
    color: $color-neutral-dark-blue;
  }

  #hamnav label,
  #hamburger {
    display: none;
  }
  .creative {
    color: $color-header;
    background-image: url("../images/desktop/image-header.jpg");
  }
  .transform {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    img,
    .panel--footer {
      flex: 1 0 50%;
      div {
        padding: 4em;
      }
    }
  }
  .stand-out {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    img,
    .panel--footer {
      flex: 1 0 50%;
      div {
        padding: 4em;
      }
    }
  }
  .gdph {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .graphic-design {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
  .reviews {
    display: flex;
    flex-direction: row;
  }
  .four-images {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
